<div ng-controller="favoritesCtrl">

  	<div class="container" ng-if="isAuthed">
		
			<h5>Favorites</h5>
			<br />

			<ul class="collection" id="targetCollection">

				<div ng-repeat="song in songsInDB track by $index">
					<li ng-if="song">
						<iframe ng-src="{{'https://open.spotify.com/embed?uri=spotify:track:' + song.songID | trustAsResourceUrl }}" width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>
							<a ng-click="removeFromFavorites(songsInDB[$index])">
						    	<i id="fav--{{song.songID}}" class="small favs right material-icons">block</i>
						  </a>
					    <ul class="collapsible" data-collapsible="accordion">
						    <li>
						      <div class="collapsible-header">&nbsp;</div>
						    </li>
						</ul>
					</li>
				</div>
			</ul>
			<h5 ng-show="songsInDB.length === 0">No Favorites</h5>

		</div>
	</div>	
</div>