<div ng-controller="navbarCtrl">
	<nav>
	    <div class="nav-wrapper red darken-4">
	    	<div class="container">
		      <a href="#" class="brand-logo">gRATEful</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a id="search" ng-if="loggedIn" href="#!/">Search</a></li>
		        <li><a id="login" ng-click="login()" ng-if="!loggedIn">Login</a></li>
		        <li><a ng-if="loggedIn" href="#!/favorites">Favorites</a></li>
		        <li><a id="logout" ng-click="logout()" ng-if="loggedIn">Logout</a></li>
		      </ul>
		    </div>
	    </div>
  	</nav>
</div>